body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
li {
  display: inline;
  padding: 6px;
}
ul {
  padding-left: 10px;
  padding-right: 20px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  position: relative;
}
a {
  text-decoration: none;
}
p {
  padding-left: 10px;
  padding-right: 10px;
}
nav {
  text-align: left;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
}
.page-title {
  text-align: left;
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;
}
.caption {
  position: absolute;
  left: 0;
  top: 35%;
  width: 50%;
  margin: auto;
  text-align: center;
  color: white;
  background-color: black;
  margin-left: 20%;
  margin-right: 20%;
  letter-spacing: 9px;
  min-width: 580px;
}
h6 {
  text-align: center;
}
.caption-link {
  color: yellow;
}
.regalia-section.caption {
  left: 0;
  top: 13%; 
  width: 50%;
  margin: auto;
  text-align: center;
  color: white;
  background-color: black;
  margin-left: 25%;
  letter-spacing:normal !important;
  padding-bottom:40px;
  min-width: 300px !important;
}
div.content {
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}
div {
  display:block;
}
section.video-section {
  padding: 20px;
}
.video-div {
  background: transparent;
  display: block;
  text-align: center;
}
img {
  display: block;
  margin: auto;
}
.background-image1 {
  background-image: url("images/galaxy-wallpaper-11.jpg");
  min-height: 100%;
}
.background-image2 {
  background-image: url("images/newyork-skyline.jpg");
  min-height: 400px;
  min-width: 400px;
}
.background-image3 {
  background-image: url("images/los-angeles-skyline.jpg");
  min-height: 540px;
}
.background-image1, .background-image2, .background-image3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bitcoin-section-div {
  text-align: center;
  padding-bottom: 40px;
}
.slam-crown-section {
  text-align: center;
  padding-bottom: 40px;
}
.bitcoin-section {
  padding-top: 20px;
}
footer {
  text-align: center;
  color:white;
  background-color:rgb(89, 94, 99);
  padding-top: 10px;
  padding-bottom: 20px;
}
@media only screen and ( max-width: 320px) {
  ul {
    display:none;
 }
  .background-image1, .background-image2, .background-image3 {
    width: 179% !important;
  }
  div.content {
    width: 137% !important;
  }
  section.video-section {
    margin-left: 4%;
  }
  .bitcoin-section-div {
    width: 100%;
    margin-left: 43% !important;
  }
  section.regalia-section {
    margin-left: 25% !important;
  }
  .slam-crown-section-div {
    margin-left: 62% !important;
    width: fit-content;   
  }
  footer {
    width: 187% !important;
  }
  div.header-div.caption {
    margin-left: 27% !important;
    padding: 0 10px;
  }
}

/* @media only screen and ( max-width: 480px) {
  section.video-section {
    margin-right: 20%;
  }
  ul {
     display:none;
  }
  nav {
    max-width: 490px;
  }
  div.content {
    font-size: 24px;
    margin: auto;
    width: unset;
  }
  div.caption {
    margin-left: 0px;
    min-width: 480px !important;
  }
  .header-div {
    margin-left: 10%;
  }
  h1 {
    font-size: 15px;
    min-width: 200px;
  }
  .background-image1, .background-image2, .background-image3 {
    min-width: 600px;
  }
  section.regalia-section {
  margin-left: 15% !important;
  }
} */
@media only screen and /*(min-width: 480px) and */ (max-width: 768px) {
  .header-div.caption {
    margin-right: 0% !important;
    margin-left: 27% !important;
  }
  h1 {
    font-size: 20px;
  }
  div.content {
    font-size: 24px;
    margin: auto;
  }
  .background-image1, .background-image2, .background-image3 {
    width:initial;
  }
  .caption {
    position: absolute;
    left: 0;
    top: 35%;
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    letter-spacing: 9px;
    min-width: unset !important;
  }
}