body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
li {
  display: inline;
}
a {
  text-decoration: none;
}
p {
  padding-left: 10px;
  padding-right: 10px;
}
nav {
  text-align: left;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline !important;
}
.open-source-link {
  text-align: right;
}
.page-title {
  text-align: left;
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;
}
.caption {
  position: absolute;
  left: 0;
  top: 35%;
  width: 50%;
  margin: auto;
  text-align: center;
  color: white;
  background-color: black;
  margin-left: 20%;
  margin-right: 20%;
  letter-spacing: 9px;
  min-width: 580px;
}
h6 {
  text-align: center;
}
.caption-link {
  color: yellow;
}
.regalia-section.caption {
  left: 0;
  top: 13%; 
  width: 50%;
  margin: auto;
  text-align: center;
  color: white;
  background-color: black;
  margin-left: 25%;
  letter-spacing:normal !important;
  padding-bottom:40px;
  min-width: 300px !important;
}
div.content {
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}
div {
  display:block;
}
section.video-section {
  padding: 20px;
}
.video-div {
  background: transparent;
  display: block;
  text-align: center;
}
img {
  display: block;
  margin: auto;
}
.background-image1 {
  background-image: url("images/galaxy-wallpaper-11.jpg");
  min-height: 100%;
}
.background-image2 {
  background-image: url("images/newyork-skyline.jpg");
  min-height: 400px;
  min-width: 400px;
}
.background-image3 {
  background-image: url("images/los-angeles-skyline.jpg");
  min-height: 540px;
}
.background-image1, .background-image2, .background-image3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bitcoin-section-div {
  text-align: center;
  padding-bottom: 40px;
}
.slam-crown-section {
  text-align: center;
  padding-bottom: 40px;
}
.bitcoin-section {
  padding-top: 20px;
}
footer {
  text-align: center;
  color:white;
  background-color:rgb(89, 94, 99);
  padding-top: 10px;
  padding-bottom: 20px;
}
@media only screen and ( max-width: 480px) {
  div.content {
    font-size: 24px;
  }
  div.caption {
    min-width: 400px;
    margin-left: 20%;
    min-width: 400px;
  }
  .header-div {
    margin-left: 10%;
  }
  h1 {
    font-size: 15px;
    min-width: 200px;
  }
  .background-image1, .background-image2, .background-image3 {
    min-width: 600px;
  }
  body, html {
    min-width: 700px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  div.content {
    font-size: 24px;
  }
  .background-image1, .background-image2, .background-image3 {
    min-width: 1024px;
  }
  body, html {
    min-width: 1000px;
  }
}